@font-face {
  font-family: "big-header";
  src: url(../resources/NotoSansMono-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "mid-header";
  src: url(../resources/NotoSansMono-Regular.ttf) format(truetype);
}

.header1 {
  font-size: 40px;
  font-family: "big-header";
  text-align: center;
}

.header2 {
  font-size: 30px;
  font-family: "mid-header";
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
}

p {
  font-size: 16px;
  font-family: monospace;
}

pre code {
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
